#discovery {
  display: grid;
  width: 100%;
  padding: 24px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

#discovery > .load-cards {
  grid-column: 1 / 3;
  height: 56px;
  text-align: center;
}

#discovery > .load-cards > span {
  display: block;
  width: 56px;
  height: 56px;
  margin: 0 auto;
  background-image: url(./spinner.svg);
}

@media (min-width: 612px) {
  #discovery {
    grid-template-columns: repeat(3, 1fr);
  }

  #discovery > .load-cards {
    grid-column: 1 / 4;
  }
}

#discovery .card {
  position: relative;
  padding-top: 56.25%;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

#discovery .card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}

#discovery .card:hover img {
  transform: scale(1.1);
}
