* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
  -webkit-tap-highlight-color: #0000;
  background-color: #fafafa;
  font-family: "Rubik", sans-serif;
  color: #444;
}

::-moz-selection {
  background-color: #ff0b5483;
  color: white;
}

::selection {
  background-color: #ff0b5483;
  color: white;
}

#root,
#app {
  height: 100%;
}

#app {
  padding-top: 56px;
}
